body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: lightyellow;
    color: brown;
    font-family: Arial;
    margin: 15px;
    padding: 10px;
    border-radius: 9px;
    font-size: 14pt;
}

header {
    background-color: bisque;
    color: black;
    font-family: Arial;
    font-size: 14pt;
    padding: 13px;
}

footer {
    background-color: bisque;
    color: black;
    font-family: Arial;
    font-size: 12pt;
    padding: 13px;
    font-style: italic;
    text-align: right;
}

a {
    color: brown;
    text-decoration: none;
}

a:link {
    color: green;
    text-decoration: none;
}

a:visited {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: lightblue;
    box-shadow: 3px 3px 1px #0002;
}

a:active {
    color: black;
    opacity: 0.3;
}