body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: lightyellow;
    color: brown;
    font-family: Arial;
    margin: 15px;
    padding: 10px;
    border-radius: 9px;
    font-size: 14pt;
}
header {
    background-color: bisque;
    color: black;
    font-family: Arial;
    font-size: 14pt;
    padding: 13px;
}
footer {
    background-color: bisque;
    color: black;
    font-family: Arial;
    font-size: 12pt;
    padding: 13px;
    font-style: italic;
    text-align: right;
}
a {
    text-decoration: none;
}