body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: lightyellow;
    color: brown;
    font-family: Arial;
    margin: 15px;
    padding: 10px;
    border-radius: 9px;
    font-size: 14pt;
}

header {
    background-color: bisque;
    color: black;
    font-family: Arial;
    font-size: 14pt;
    padding: 13px;
}

footer {
    background-color: bisque;
    color: black;
    font-family: Arial;
    font-size: 12pt;
    padding: 13px;
    font-style: italic;
    text-align: right;
}

a {
    color: brown;
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: green;
    text-decoration: none;
}

a:visited {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: lightblue;
    box-shadow: 3px 3px 1px #0002;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 1px solid;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    background-color: lightpink;
    box-shadow: 10px 10px 5px #0002;
}

div.menu:hover {
    background-color: #ff6565;
    box-shadow: 0 0 15px #00000030;
}